*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

*:-webkit-autofill {
    -webkit-text-fill-color: #000000 !important;
    box-shadow: 0 0 0 30px #ffffff inset !important;
}

*:-webkit-autofill:hover {
    -webkit-text-fill-color: #000000 !important;
    box-shadow: 0 0 0 30px #ffffff inset !important;
}

*:-webkit-autofill:focus {
    -webkit-text-fill-color: #000000 !important;
    box-shadow: 0 0 0 30px #ffffff inset !important;
}
img {
    user-select: none;
  }